certifi==2023.11.17
charset-normalizer==3.3.2
datatable==1.1.0
idna==3.6
molgenis-py-client==2.4.1
numpy==1.26.3
pandas==2.1.4
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
rd3tools @ file:///Users/davidcruvolo/Github/projects-solve-rd/rd3-py/dist/rd3tools-1.0.0.tar.gz
requests==2.31.0
six==1.16.0
tzdata==2023.4
urllib3==2.1.0
