
// gray palette
$gray-000: #FFFFFF;
$gray-050: #E6E6E6;
$gray-100: #CCCCCC;
$gray-200: #B3B3B3;
$gray-300: #999999;
$gray-400: #808080;
$gray-500: #666666;
$gray-600: #4C4C4C;
$gray-700: #333333;
$gray-800: #1A1A1A;
$gray-900: #000000;

// blues
$blue-050: #E7EFFF;
$blue-100: #CEDFFF;
$blue-200: #B6D0FF;
$blue-300: #9DC0FF;
$blue-400: #85B0FF;
$blue-500: #6DA0FF;
$blue-600: #5490FF;
$blue-700: #3C81FF;
$blue-800: #2371FF;
$blue-900: #0B61FF;

// breakpoints
$breakpoint: 1024px;