// default flex class
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .flex-child {
        box-sizing: border-box;
        padding: 1em 2em;
    }
}

// sidebar
.sidebar {
    background-color: $gray-050;

    .sidebar-submenu {
        padding: 1em 0;
    }
}